*{
  box-sizing: border-box;
  margin: 0;
}

header{
  padding: 4px;
  background-color: orange;
}

h1{
  width: 30%;
  height: 10vh;
  line-height: calc(10vh - 6px);
  margin: auto;
  border: 3px solid yellow;
  border-radius: 35%;
  background-color: white;
  text-align: center;
  font-size: 20
}

main{
  margin-top: 30px;
}

.container{
  width: 998px;
  margin: auto;
  background-color: #333333;
  padding: 10px;
  border: 2px solid orange;
}

.picture{
  margin: 10px;
  display: inline-block;
  position: relative;
  border: 1px solid orange;
}

.picture img{
  vertical-align: bottom;
}

.heart{
  font-size: 30px;
  color: red;
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  display: none;
}

.picture:hover > .heart{
  display: block;
}

.discount{
  width: 15%;
  position: absolute;
  right: 0;
  top: 0;
  text-align: center;
  font-weight: bold;
}

.discount.green{
  background-color: green;
}

.discount.red{
  background-color: red;
}

footer{
  margin: 20px 0;
}

.credits{
  width: 30%;
  margin: auto;
  padding: 5px;
  text-align: center;
  background-color: orange;
  border-radius: 35%;
}
